<div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12 right" ng-controller="FavoritoController">
                <div class="contenido">
                    <h1 class="tituloCandidatos">Mis Favoritos</h1>

                    <div class="filaFavCand" ng-repeat="fav in usuario.favoritos">
                        <span class="h4">Favorito {{nombreEj(fav.idEjercicio)}}: de {{fav.lenguajeOrigen}} a {{fav.lenguajeDestino}} </span>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse{{$index}}" aria-expanded="false" aria-controls="collapseExample">
                            <span class="glyphicon glyphicon-eye-open"></span> Ver
                        </button>
                        <div class="collapse" id="collapse{{$index}}">
                            <div class="well">
                                <button type="submit" class="btn favorito btn-block marcado" ng-click="eliminarFav($index, fav)">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Desmarcar favorito
                                </button>

                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <span class="label label-info">{{fav.lenguajeOrigen}}</span>
                                            <pre><code>{{enunciadoCompleto(fav.idEjercicio, fav.lenguajeOrigen).codigo}}</code></pre>
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            <span class="label label-info">{{fav.lenguajeDestino}}</span>
                                            <pre><code>{{enunciadoCompleto(fav.idEjercicio, fav.lenguajeDestino).codigo}}</code></pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>


                </div>
            </div>
            <div class="col-md-4 col-xs-12 left">
                    <info-usuario></info-usuario>

            </div>
        </div>
    </div>