<div class="container" ng-controller="EjerciciosController">
    <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="contenido reomvePadding">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-10 col-xs-10">
                                	<div class="padding" ng-show="usuario.rol === -1">
                                		<h2>Has de loguearte.</h2>
                                		<a class="btn btn-info btn-block btnLinks" ng-click="logIn()">Log in</a>
                                	</div>
                                    <div class="padding" ng-hide="usuario.rol === -1">

                                        <ol class="breadcrumb">
                                            <li><a href="#/temas" class="green">Temas</a>
                                            </li>
                                            <li><a href="#/temas/{{idTema}}" class="green">Tema {{idTema}}</a>
                                            </li>
                                            <li class="active">Leccion {{idLeccion}}</li>
                                        </ol>
                                        <div ng-hide="sinVidas || terminadoAcertando">
	                                        <div ng-show="cargando">
	                                        	<h2>Cargando</h2>
	                                        </div>

	                                        <div ng-hide="cargando">
	                                        <div class="container-fluid">
	                                            <div class="row">
	                                                <div class="col-md-7 col-xs-12">
	                                                    <div class="progress">
	                                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{porcentajeCompletado()}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 4em;  width: {{porcentajeCompletado()}}%;">
	                                                            {{  porcentajeCompletado() }} %
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                <div class="col-md-3 col-xs-8">
	                                                    <i><span class="glyphicon glyphicon-heart ng-class: colorRojoVidas(0);" aria-hidden="true"></span><span class="glyphicon glyphicon-heart ng-class: colorRojoVidas(1);" aria-hidden="true"></span><span class="glyphicon glyphicon-heart ng-class: colorRojoVidas(2);" aria-hidden="true"></span> Vidas restantes</i>
	                                                </div>
	                                                <div class="col-md-1 col-xs-2" ng-click="favorito()">
	                                                    <button type="submit" class="btn favorito ng-class: ejMarcadoFavorito(EjActual().id);">
	                                                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
	                                                    </button>
	                                                </div>
	                                                <div class="col-md-1 col-xs-2">
		                                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
														  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
														</button>
														<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
														  <div class="modal-dialog">
														    <div class="modal-content">
														      <div class="modal-header">
														        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
														        <h4 class="modal-title" id="myModalLabel">Explicación de {{leccion.titulo}}</h4>
														      </div>
														      <div class="modal-body">
														        {{leccion.explicacion}}
														      </div>
														      <div class="modal-footer">
														        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
														      </div>
														    </div>
														  </div>
														</div>
													</div>
	                                            </div>
	                                        </div>

	                                        <div ng-hide="correcto || incorrecto">
		                                        <p>{{EjActual().nombre}}</p>

		                                        <div class="container-fluid">
		                                            <div class="row">
		                                                <div class="col-md-6 col-xs-12">
		                                                    <span class="label label-info">{{idiomaQueSe}}</span>
		                                                    <div hljs source="enunciadoCompleto(EjActual().id, idiomaQueSe).codigo" class="visorCodigo"></div>
		                                                </div>
		                                                <div class="col-md-6 col-xs-12">
		                                                    <span class="label label-info">{{idiomaQueNoSe}}</span>
		                                                        <textarea class="form-control codigoEditable" rows="11" placeholder="Escribe tu solución aquí" ng-model="textoEscrito" required></textarea>
		                                                </div>
		                                            </div>
		                                        </div>

		                                        <button type="submit"class="btn btn-lg btn-primary btn-block boton" ng-click="botonCorregir()" ng-hide="corrigiendo">
		                                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Corregir
		                                        </button>

		                                        <div class="alert text-center" role="alert" ng-show="corrigiendo">
		                                            <h3>Corrigiendo ...</h3>
		                                        </div>
	                                        </div>
	                                        <div ng-show="correcto">
	                                        	<p>{{ultimoEj.nombre}}</p>
	                                        	<div class="container-fluid">
		                                            <div class="row">
		                                                <div class="col-md-6 col-xs-12">
		                                                    <span class="label label-info">{{idiomaQueNoSe}} (solución)</span>
		                                                    <div hljs source="enunciadoCompleto(ultimoEj.id, idiomaQueNoSe).codigo" class="visorCodigo"></div>
		                                                </div>
		                                                <div class="col-md-6 col-xs-12">
		                                                    <span class="label label-info">{{idiomaQueNoSe}}</span>
		                                                    <div hljs source="ultimaRespuesta.codigo" class="visorCodigo"></div>
		                                                </div>
		                                            </div>
		                                        </div>

		                                        <div class="alert text-center" role="alert">
		                                            <h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Correcto, +{{ultimaRespuesta.puntuacion}} puntos!</h3>
		                                        </div>
	                                        </div>
	                                        <div ng-show="incorrecto">
	                                        	<p>{{ultimoEj.nombre}}</p>
	                                        	<div class="container-fluid">
		                                            <div class="row">
		                                                <div class="col-md-6 col-xs-12">
		                                                    <span class="label label-info">{{idiomaQueNoSe}} (solución)</span>
		                                                    <div hljs source="enunciadoCompleto(ultimoEj.id, idiomaQueNoSe).codigo" class="visorCodigo"></div>
		                                                </div>
		                                                <div class="col-md-6 col-xs-12">
		                                                    <span class="label label-info">{{idiomaQueNoSe}} (tu respuesta)</span>
		                                                    <div hljs source="ultimaRespuesta.codigo" class="visorCodigo"></div>
		                                                </div>
		                                            </div>
		                                        </div>

		                                        <div class="alert text-center" role="alert">
		                                            <h3 class="incorrect"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Incorrecto, has acertado al {{ultimaRespuesta.puntuacion * 10}}% (+{{ultimaRespuesta.puntuacion}} puntos)</h3>
		                                        </div>
		                                        <div class="btnEnviarCandidato" ng-show="!candEnviado">
		                                            <button type="submit" class="btn btn-lg btn-info" ng-click="anhadirCandidato()">
		                                                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Añadir a Candidatos
		                                            </button>
		                                            <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Añade a candidatos cuando creas que tu ejercicio está resuelto de manera correcta. De esta forma pasará a un sistema de votaciones para ser una posible solución correcta de este ejercicio.">
		                                              <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
		                                            </button>
		                                        </div>
                                                <div class="alert text-center" role="alert" ng-show="candEnviado">
		                                            <h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Tu solución ha sido enviada como candidato.</h3>
		                                        </div>
	                                        </div>
	                                    </div>
                                    </div>

                                    <div ng-show="sinVidas">
                                    	<div class="text-center">
                                            <i><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></i>
                                        </div>
                                        <div class="alert text-center" role="alert">
                                            <h3 class="incorrect"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Te has quedado sin vidas</h3>
                                        </div>

                                        <button type="submit" class="btn btn-lg btn-warning btn-block" ng-click="reiniciar()">
                                            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Intentar otra vez
                                        </button>
                                    	
                                    </div>

                                    <div ng-show="terminadoAcertando">
                                    	<div class="text-center terminarLeccion">
                                    	<meta property="og:title" content="Your title here" />
<meta property="og:description" content="your description here" />
                                            <h3><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Has terminado esta lección <button class="btn btn-lg btn-info" ng-click="compartir(leccion.titulo, leccion.descripcion)">Compartir</button></h3>
                                        </div>


                                        <a class="btn btn-lg btn-success btn-block" href="#/temas/{{idTema}}"><span class="glyphicon glyphicon-road" aria-hidden="true"> Ver lecciones</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a class="right carousel-control" role="button" ng-click="saltar()">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>
    
    
<script>        
    $(function () {
      $('[data-toggle="popover"]').popover()
    })

	$(document).ready(function(){
		$("#myModal").modal('show');
	});

</script>

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1428669747439400',
          xfbml      : true,
          version    : 'v2.3'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>