<div class="contenido container1" ng-controller="UsuarioController">
    <div class="container-fluid">
        <div class="row">
            <a class="btn btn-social btn-danger btn-block" ng-click="logIn()" ng-show="usuario.rol === -1">Inicia sesión con Google+</a>
            <a class="btn btn-social btn-primary btn-block" ng-click="" ng-show="usuario.rol === -1">Inicia sesión con Facebook</a>
            <a class="btn btn-info btn-block btnLinks" ng-click="logOut()" ng-show="usuario.rol !== -1">Log out</a>
        </div>

        <div class="row" ng-show="usuario.rol !== -1">
            <div class="col-md-12 col-xs-12">
                <h3>Información de usuario</h3>
            </div>

            <div class="col-lg-4 col-md-12">
                <img class="logo img-rounded img-responsive" ng-src="{{usuario.picture}}" ng-show="usuario.picture">
            </div>

            <div class="col-lg-8 col-md-12 emailPuntos">
                <p>{{usuario.name}}</p>
                <p>Puntuación Total: {{puntuacion()}}</p>
            </div>
        </div>


        <div class="row selectIdiomas">
            <div class="col-lg-7 col-md-12">
                <p>Lenguaje actual:</p>
            </div>
            <div class="col-lg-5 col-md-12">
                <select class="form-control btn-default input-sm" ng-change="cambiarLenguajeSe()" ng-model="selectedItem">
                    <option ng-repeat="lenguaje in lenguajes" value="{{lenguaje}}" ng-selected="lenguaje === lenguajeQueSe">{{lenguaje}}</option>
                </select>
            </div>
        </div>

        <div class="row selectIdiomas">
            <div class="col-lg-7 col-md-12">
                <p>Lenguaje a aprender:</p>
            </div>
            <div class="col-lg-5 col-md-12">
                <select class="form-control btn-default input-sm" ng-change="cambiarLenguajeNOSe()" ng-model="selectedItemNoSe">
                    <option ng-repeat="lenguaje in lenguajes" value="{{lenguaje}}" ng-selected="lenguaje === idiomaQueNOSe">{{lenguaje}}</option>
                </select>
            </div>
        </div>
    </div>
    <a class="btn btn-info btn-block btnLinks" href="#/misfavoritos">Mis favoritos <span class="badge">{{numFavoritos()}}</span></a>
    <a class="btn btn-info btn-block btnLinks" href="#/miscandidatos">Mis candidatos <span class="badge">{{numCandidatos()}}</span></a>
</div>